<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
>

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:allowBackup="true"
            android:fullBackupContent="@xml/backup_rules"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:label="Wellbeing Companion"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.SelfCareApp.Soothing.Light"
            android:usesCleartextTraffic="true">

        <!-- Kezdőképernyő -->
        <activity android:name="com.example.selfcareapp.ui.personalization.StartPersonalizationActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Personalization screens -->
        <activity android:name=".ui.personalization.NamePersonalizationActivity" />
        <activity android:name=".ui.personalization.CompletePersonalizationActivity" />

        <!-- Main app screens -->
        <activity android:name=".ui.MainMenuActivity" />
        <activity android:name=".ui.todo.ToDoListActivity" />
        <activity android:name=".ui.todo.ToDoAddEditActivity" />
        <activity android:name=".ui.journal.JournalActivity" />
        <activity android:name=".ui.journal.JournalAddEntryActivity" />
        <activity android:name=".ui.chat.ChatActivity" />
        <activity android:name=".ui.chat.ChatConversationActivity" />
        <activity android:name=".ui.SettingsActivity" />

        </application>
    </manifest>